@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d6e2f0;
  margin: 0;
}

.qr-container {
  background-color: #ffffff;
  border-radius: 20px;
  border: 1px solid hsla(0, 0%, 0%, 0);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  text-align: center;
  width: 320px;
  height: 500px;
  display: inline-block;
}

.qr-img-wrapper {
  width: 288px;
  height: 288px;
  margin: 0 auto;
  padding: 15px 0;
  padding-bottom: 10px;
}

.qr-image {
  width: 100%;
  border-radius: 10px;
}

.qr-title {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 22px;
  color: #1F314F;
}

.qr-text {
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #7D889E;
  padding: 0 30px;
}

@media only screen and (max-width: 375px) {

  .qr-container {
    background-color: white;
    border-radius: 15px;
    border: 1px solid hsla(0, 0%, 0%, 0);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 320px;
    height: 500px;
  }

  .qr-img-wrapper {
    width: 288px;
    height: 288px;
    margin: 0 auto;
    padding: 15px 0;
    padding-bottom: 10px;
  }
  
  .qr-image {
    width: 100%;
    border-radius: 10px;
  }
  
  .qr-title {
    font-family: "Outfit", sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: #1F314F;
  }
  
  .qr-text {
    font-family: "Outfit", sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #7D889E;
    padding: 0 30px;
  }

}
